html {
  padding: 0;
  border: 0;
  margin: 0;
  height: 100vh;
}

.background {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(crimson, crimson, orange);
  overflow: hidden;
}

.topheading {
  position: absolute;
  top: -24px;
  left: 40px;
  font-family: arial;
  font-size: 35px;
  z-index: 20;
  color: black;
}


.stopheading {
  position: absolute;
  top: -10px;
  left: 20px;
  font-family: arial;
  font-size: 35px;
  color: yellow;
  z-index: 20;
}

.stoopheading {
   position: absolute;
  top: 700px;
  right: 40px;
  font-family: arial;
  font-size: 55px;
  z-index: 20;
  color: black;
}

.topheadingdetails {
position: absolute;
  top: -24px;
  right: 40px;
  font-family: arial;
  font-size: 35px;
  z-index: 20;
}


#layout {
  display: block;
}


.grid2 {
  position: absolute;
  display: inline-block;
 top: 0px;
  left: 850px;
    cursor: pointer;
  width: 80px;
  height: 100%;
  border: 3px solid black;
  z-index: 900;
   background: linear-gradient(crimson, orange, yellow, yellow, crimson, darkgrey);
}

.grid2font {
  position: absolute;
  display: inline-block;
  right: -15px;
  top: 390px;
  font-family: arial;
  font-size: 35px;
  writing-mode: vertical-rl;
  text-align: center;
}

.grid3font {
  position: absolute;
  display: inline-block;
  right: -15px;
  top: 390px;
  font-family: arial;
  font-size: 35px;
  writing-mode: vertical-rl;
  text-align: center;
}

.grid3 {
  position: absolute;
  display: inline-block;
  left: 930px;
    cursor: pointer;
    z-index: 900;
 top: 0px;
  width: 80px;
  height: 100%;
  border: 3px solid black;
  background: linear-gradient(crimson, orange, yellow, yellow, crimson, darkgrey);
 }

.grid6 {
  position: absolute;
  display: inline-block;
  left: 1010px;
 top: 0px;
   cursor: pointer;
       z-index: 900;
  width: 80px;
  height: 100vh;
  border: 3px solid black;
  background: linear-gradient(crimson, orange, yellow, yellow, crimson, darkgrey);
 }

 .grid6font {
  position: absolute;
  display: inline-block;
  right: -15px;
  top: 390px;
  font-family: arial;
  font-size: 35px;
  writing-mode: vertical-rl;
  text-align: center;
}

.grid7 {
  position: absolute;
  display: inline-block;
  left: 1090px;
  width: 80px;
    cursor: pointer;
        z-index: 900;

  top: 0px;
  height: 100vh;
  border: 3px solid black;
  background: linear-gradient(crimson, orange, yellow, yellow, crimson, darkgrey);
 }

  .grid7font {
  position: absolute;
  display: inline-block;
  right: -15px;
  top: 390px;
  font-family: arial;
  font-size: 35px;
  writing-mode: vertical-rl;
  text-align: center;
}


.grid4 {
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  border: 3px solid black;
}


.header {
  top:0px;
  left:0px;
  position: absolute;
  width: 100vw;
  height: 60px;
  background-color: yellow;
  border: 3px solid black;
  z-index: 1200;
  animation-name: blinkingheader;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes blinkingheader {
  0% {
    background-color: lime;
    }
  30% {
    background-color: lightgreen;
    }
  60% {
    background-color: lime;
    }
  90% {
    background-color: turquoise;
    }

}

#popup {
  position: relative;
}

.boxpopup {
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
  background-color: yellow;
  border: 3px solid black;
}

.positionleft {
  top: 200px;
  left: 50px;
  z-index: 11;
}

.positionleft:hover {
  background-image: url(http://www.cokestudio.com.pk/season11/img/artists/shuja.png); 
  transform: scale(1.2);
  z-index: 30;
}

.positionright {
  top: 230px;
  left: 80px;
  z-index: 12;
}

.positionright:hover {
  background-image: url(http://www.cokestudio.com.pk/season11/img/artists/asrar.jpg); 
 transform: scale(1.2);
  z-index: 30;
}

.positionright2 {
  top: 260px;
  left: 110px;
  z-index: 13;
}

.positionright2:hover {
  background-image: url(http://www.cokestudio.com.pk/season11/img/artists/ali-azmat.jpg); 
  transform: scale(1.2);
  z-index: 30;
}

.positionright3 {
  top: 290px;
  left: 140px;
  z-index: 14;
}

.positionright3:hover {
  background-image: url(http://www.cokestudio.com.pk/season11/img/artists/aima.jpg); 
  transform: scale(1.2);
  z-index: 30;
}

.positionright3:hover {
  background-image: url(http://www.cokestudio.com.pk/season11/img/artists/rachel.jpg); 
  transform: scale(1.2);
  z-index: 30;
}

.positionright3:hover {
  background-image: url(http://www.cokestudio.com.pk/season11/img/artists/shahab-hussain.jpg); 
  transform: scale(1.2);
  z-index: 30;
}

.positionright4 {
  top: 360px;
  left: 220px;
  z-index: 15;
}

.positionright4:hover {
  background-image: url(http://www.cokestudio.com.pk/season11/img/artists/wajiha.jpg); 
  transform: scale(1.2);
  z-index: 30;
}


.positionright5 {
  top: 390px;
  left: 250px;
  z-index: 15;
}

.positionright5:hover {
  background-image: url(http://www.cokestudio.com.pk/season11/img/artists/gul-panra.png); 
  transform: scale(1.2);
  z-index: 30;
}

.positionright6 {
  top: 420px;
  left: 280px;
  z-index: 15;
}

.positionright6:hover {
  background-image: url(http://www.cokestudio.com.pk/season11/img/artists/asim-azhar.jpg); 
  transform: scale(1.2);
  z-index: 30;
}

.positionright7 {
  top: 450px;
  left: 310px;
  z-index: 15;
  }

.positionright7:hover {
  background-image: url(http://www.cokestudio.com.pk/season11/img/artists/abida.png); 
  transform: scale(1.2);
  z-index: 30;
}

.straightheading {
  position: relative;
  z-index: 90;
}

.normalfont {
  position: absolute;
  display: block;
  left: 50px;
  top: 110px;
  font-family: arial;
  font-size: 35px;
  z-index: 
}

svg {
  position: absolute;
  top: 0px;
  left: -400px;
  z-index: 10;
  height: 100VH;
  width: 100VW;
}

.btn {
  display: inline-block;
  border: 2px solid black;
  border-radius: 500px;
  padding: 10px 14px;
  font-size: 19px;
  color: black;
  font-family: helvetica;
  background-color: lime;
  cursor: pointer;
}

.btn:hover {
  background: black;
  color: white;
   font-family: helvetica;
    font-size: 19px;
    border: 1px solid black;
}

.top2005 {
  position: absolute;
  display: block;
  top: 150px;
  right: 80px;
}

.top2007 {
  position: absolute;
  display: block;
  top: 200px;
  right: 80px;
}

.top2009 {
  position: absolute;
  display: block;
  top: 250px;
  right: 80px;
}

.top2013 {
  position: absolute;
  display: block;
  top: 300px;
  right: 80px;
}

.top2019 {
  position: absolute;
  display: block;
  top: 350px;
  right: 80px;
}

.btn2 {
  display: inline-block;
  color: black;
  cursor: pointer;
  z-index: 200;
    cursor: pointer;
  transition: ;
}

.grid2:hover{
  background: yellow;
}

.grid3:hover{
  background: yellow;
}

.grid6:hover{
  background: yellow;
}

.grid7:hover{
  background: yellow;
}

