#layout {
	margin: 0 auto;
    max-width: 80em;
    padding: 10px;
}

div {
	display: block;
}

.grid {
	display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(3, 300px);
    grid-gap: 20px;
}

.grid > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

header, footer {
    grid-column: 1 / 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

header, footer {
    background: gold;
    padding: 10px;
}

beginning, middle {
	background: turquoise;
    padding: 10px;
}

body {
	font-family: helvetica;
	color: white;
	font-size: 40px;
}
